<div class="container" >
    <h3 class="pb-5">
        <fa-icon [icon]="faFilm"></fa-icon> Movies
    </h3>

    <div  *ngIf="movieTitles$ | async as titles" class="pb-3">
        <label for="moviesSearch" class="form-label fw-bold">Search by movie title</label>
        <input [(ngModel)]="searchTitle" class="form-control" list="datalistOptions" id="moviesSearch" placeholder="Type to search..."  (change)="filterMoviesByTitle()">
        <datalist id="datalistOptions">
            <option *ngFor="let title of titles" value="{{title}}">
        </datalist>
    </div>

    <table *ngIf="moviesList$ | async as moviesList" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Year</th>
                <th scope="col">Rating</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody class="fw-normal">
            <tr scope="row" *ngFor="let movie of moviesList">
                <th>{{movie.id}}</th>
                <th>{{movie.title}}</th>
                <th>{{movie.categoryName}}</th>
                <th>{{movie.year}}</th>
                <th>
                    <div *ngIf="movie.rating && movie.rating > 0; else zeroRating">
                        <fa-icon *ngIf="movie.rating > 0 && movie.rating <=5" [icon]="faStar"></fa-icon>
                        <fa-icon *ngIf="movie.rating > 1 && movie.rating <=5" [icon]="faStar"></fa-icon>
                        <fa-icon *ngIf="movie.rating > 2 && movie.rating <=5" [icon]="faStar"></fa-icon>
                        <fa-icon *ngIf="movie.rating > 3 && movie.rating <=5" [icon]="faStar"></fa-icon>
                        <fa-icon *ngIf="movie.rating > 4 && movie.rating <=5" [icon]="faStar"></fa-icon>
                    </div>
                    <ng-template #zeroRating>-</ng-template>
                </th>
                <th>
                    <a type="button" class="btn btn-info" (click)="openMovieDetails(movie.id)">Details</a>
                </th>
            </tr>
        </tbody>
    </table>

</div>