<div class="container">
    <div class="card" style="width: 18rem;">
        <div *ngIf="movie$ | async as movie" class="card-body">
            <h3 class="card-title">{{movie.title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{movie.year}}</h6>
            <div *ngIf="movie.rating && movie.rating > 0; else zeroRating">
                <fa-icon *ngIf="movie.rating > 0 && movie.rating <=5" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="movie.rating > 1 && movie.rating <=5" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="movie.rating > 2 && movie.rating <=5" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="movie.rating > 3 && movie.rating <=5" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="movie.rating > 4 && movie.rating <=5" [icon]="faStar"></fa-icon>
            </div>
            <ng-template #zeroRating>-</ng-template>
            <span>{{movie.descriptionText}}</span>
        </div>
    </div>
</div>